<header class="header">
  <div class="header__content">
    <section [routerLink]="['/', Navigation.Todo]" class="header__content__logo">
      <img height="35px" src="assets/images/logo.svg" width="35px" />
      <span class="font-bold">{{ "navigation." + Navigation.Todo | translate }}</span>
    </section>

    <section
      [routerLink]="['/', Navigation.Todo]"
      class="header__content__item"
      routerLinkActive="active"
    >
      {{ "navigation." + Navigation.Todo | translate }}
    </section>

    @if (isLogged()) {
      <section
        [routerLink]="['/', Navigation.User]"
        class="header__content__item"
        routerLinkActive="active"
      >
        {{ "navigation." + Navigation.User | translate }}
      </section>
    }

    <section class="header__content__buttons">
      @if (isLogged()) {
        <app-button (clicked)="onLogOutClick()" label="btn.logOut" type="secondary" />
      } @else {
        <app-button (clicked)="onLogInClick()" label="btn.logIn" type="secondary" />
      }
    </section>
  </div>
</header>
